html{
    width: 1200px;
    margin: 0 auto;
    background-color: black;
}
body{
    margin: 0 auto;
    padding-right: 20px;
    width: 1200px;
    overflow-x: hidden;
    margin-right: 10px;
    
    
}
.bg-img{
    background-image: url('img-mission-background.jpg');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 960px;
    padding-top: 10px;

}
.container{
    position: fixed;
    margin: 0 auto;
    width: auto;
    
    
}
.topnav{
        overflow: hidden;
        background-color: rgb(5, 4, 4);
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 98.2%; /* Full width */
        left: 0;
        padding: 10px;
        border: 1px solid white;
    
    
}

.topnav a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 12px 20px;
    text-decoration: underline;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    
}
#logo{
    width: 200px;
}
#Mission {
    position: relative;
    height: 43.75rem;
    padding: 2%;
    background-size: cover;
    text-align: center;
    padding-top: 45%;
    padding-left: 0px;
    width: 1250px;
    width: 100%;
}
#Mission h2{
    font-size: 40px;
    background-color: black;
    color: whitesmoke;
    margin: auto;
    padding: 5px;
    font-family: 'Dancing Script', cursive;
    width: 1200px;
    font-weight: bold;
}
#Mission h4{
    font-size: 30px;
    background-color: black;
    color: whitesmoke;
    margin: auto;
    padding: 5px;
    display: inline-block;
    width: 1200px;
    padding-right: 10;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
 }
#Featured{
    padding: 20px;
}

#Featured h2{
    text-align: center;
    font-size: 50px;
    color: #f2f2f2;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    margin: 0 auto;
}
#Featured h4{
    text-align: center;
    font-size: 40px;
    color: #f2f2f2;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    padding-bottom: 20px;
    margin: 10px auto;
    
}
.item img {
    height: 200px;
    margin: 10px;
    display: block;
}
.item span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    color: #f2f2f2;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-container.locations {
    padding-top: 5px;
  }
  
  #locations {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    height: 500px;
    padding-top: 10px;
    margin-top: 20px;
  }
  
  #locations .flex-container {
    margin: auto;
    width: 1100px;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  .location {
    opacity: 1.0;
    padding: 10px;
    margin: 5px 30px;
    background-color: black;
    flex-basis: 280px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    color: #f2f2f2;
    width: 280px;
    font-size: 23px;
    height: 350px;
  }
  #locations h2{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0;
    padding: 0px;
    padding-bottom: 10px;
    padding-top:0px;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
}
.location h3{
  text-align: center;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  font-weight: bolder; 
  padding: 0px;

}
.location p{
text-align: center;
padding: 0px;
margin-bottom: 10px;
font-family: 'Dancing Script', cursive;
}
#contact {
    height: 300px;
    color: white;   
}
#contact h2{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;

}

#contact h5{
  font-size: 25px;

}
footer {
    text-align: left;
    padding-left: 20px;
  }

  footer p{
    padding: 1.25rem 3.75rem;
  border-radius: 4px;
    color: #f2f2f2;
    font-size: 20px;
  }
